<script setup lang="ts">
import {ref} from "vue";
const message = ref("Hello world!");
const isRed = ref(true);
const color = ref("green");
function tootleRed(){
    isRed.value = !isRed.value;
}
function toggleColor(){
    color.value = color.value === 'green' ? 'blue' :'green';
}
</script>
<template>
    {{message}}
    <p>
        <span title="message">Hover your mouse over me for a few seconds to see my dynamically bound title!</span>

    </p>
    <p :class="{red:isRed}" @click="tootleRed">
        <span class="message">This should be red... but click me to toggle it.</span>
    </p>

    <p :style="{color}" @click="toggleColor">
        <span class="message"> This should be red... but click me to toggle it.</span>
    </p>
</template>
<style scoped>
.red{
    color: red;
}
.message{
    cursor: pointer;
}
</style>
