
<script setup lang="ts">
import { computed ,reactive} from "vue";

 
        const state = reactive({
          num1: "0",
          num2: "0",
          result: 0,
        });
        const result = computed(()=>{
          return parseInt(state.num1) + parseInt(state.num2);
        })
        const doAdd = () => {
          state.result = parseInt(state.num1) + parseInt(state.num2);
        };

        // return {
        //   state,
        //   doAdd,
        //   result
        // };

</script>
<template>
    <div class="card">
        <div>
          <input
            class="center-text"
            type="text"
            ref="num1"
            v-model="state.num1"
          />
        </div>
        <div class="center-text blod-text">+</div>
        <div>
          <input
            class="center-text"
            type="text"
            ref="num2"
            v-model="state.num2"
          />
        </div>
        <div>
          <button class="width-100 center-text" @click="doAdd()">=</button>
        </div>
        <!-- <div class="center-text" ref="result" v-model="state.result">
          {{state.result}}
        </div> -->
        <div class="center-text">
          {{state.num1}} + {{state.num2}} = {{result}}
        </div>
      </div>
  
</template>



<style>

</style>