
<script setup lang="ts">
export interface Entable{
    id:number;
    text:string;
}
import type { PropType } from 'vue';
const props = defineProps({
    todo:{type:Object as PropType<Entable>,required:true},
})
</script>
<template>
  <div>
    <li>{{todo.text}}</li>

  </div>
</template>



<style>

</style>