<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import HelloWorld from './components/HelloWorld.vue'
import CalComponent from './components/CalComponent.vue';
import HelloWorldExample from './components/HelloWorldExample.vue';
import HandingUserInput from './components/HandingUserInput.vue';
import AttributeBindings from './components/AttributeBindings.vue';
import ConditionAndLoop from "./components/ConditionAndLoop.vue";
import FormBinding from './components/FormBinding.vue';
import SimpleComponent from './components/SimpleComponent.vue';
</script>

<template>
 <div>
  <!-- <HelloWorld msg="Hello"></HelloWorld> -->
  <SimpleComponent></SimpleComponent>
  <FormBinding></FormBinding><br><br>
  <ConditionAndLoop></ConditionAndLoop><br><br>
  <AttributeBindings></AttributeBindings>
  <HandingUserInput></HandingUserInput>

  <CalComponent></CalComponent>
  <HelloWorldExample></HelloWorldExample>
 </div>
</template>

<style scoped>

.center-text {
  text-align: center;
  font-size: 20pt;
  margin: 5px;
}
.card {
  width: 400px;
 
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.card:hover{
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.blod-text {
  font-weight: bold;
}
.width-100 {
  width: 100px;
}

</style>
